body{
    font-family: 'Roboto', sans-serif;
    margin:0;
}

h1{
    padding: 8px;
    background:red;
    border-radius: 8px;
    margin:0;
    font-size:64px;
    font-family: 'Roboto Slab', serif;
}

p{
    line-height: 1.5;
}

main{
    margin: 0 auto;
}

/* Banner */

#banner{
   height: 100vh;
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
   background: rgba(0,0,0,0.2) url('img/3.jpg'); 
   background-size: cover;
   background-attachment: fixed;
   background-position: center;
   background-blend-mode: overlay;
   color: white;
}

#banner h3{
    background: black;
    border-radius: 8px;
    padding: 0 24px;
    font-size:24
}

